<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="content.css">
    <script src="https://unpkg.com/vue" defer></script>
    <script type="module" src="lib/onmessage.js" defer></script>
    <script type="module" src="lib/reconnecting-websocket.js" defer></script>
    <script type="module" src="app.js"></script>
</head>
<body>
    <div id="app" class="container">
      <header>
        <!-- Header content -->
		<span class="status">{{ status }}</span>
      </header>
      <main class="site-content">
        <!-- Main content -->
        <div class="content" v-html="data.x.html"></div>
        <div v-if="buttons">
              <button v-for="button in buttons" :key="button[0]" v-on:click="send(button[1])">{{ button[0] }}</button>
        </div>
        <div v-if="update">
            <div v-html="update.x.html"></div>
        </div>
      </main>
    </div>
</body>
</html>


